.main_about {
    @include margin;
    margin: 50px 205px 50px 205px;

    @include medium-device {
      margin: 30px 50px 0 50px;
    }
  
    @include small-device {
      margin: 20px 20px 0 20px;
    }
  }