.collapse {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;

    .collapse_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-font-color;
        color: white;
        padding: 15px;
        border-radius: 10px 10px 10px 10px;
        position: relative;
        z-index: 2;

        h2 {
            font-weight: 500;
            font-size: 24px;
        }

        .icon_collapse {
            background: none;
            border: none;

            img {
                width: 32px;
                height: auto;
            }

            &:hover {
                cursor: pointer;
            }

            &.rotate {
                transition: transform 0.3s ease-in-out;
                transform: rotate(-180deg);
            }

            &.reverse {
                transition: transform 0.3s ease-in-out;
                transform: rotate(0);
            }

        }
    }
}

.collapse_content {
    background-color: $main-background-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in;

    p {
        padding: 25px 20px 20px 20px;
    }

    &.open {
        margin-top: -10px;
        max-height: 400px;
    }

    &.close {
        max-height: 0;
        margin-top: -10px;
        transition: max-height 0.5s ease-out;
    }

    &.column_equipment {
        ul {
            padding: 25px 20px 20px 20px;
            display: block;
        }

        li {
            font-size: 18px;
        }
    }
}