.columns_housing {
    display: flex;
    justify-content: space-between;
  
    @include medium-device {
      align-items: center;
    }
  
    @include small-device {
      flex-direction: column;
    }
  
    .column2 {
      margin-top: 24px;
  
      @include medium-device {
        margin-top: 15px;
      }
  
      @include small-device {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 15px;
      }
  
      .host {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
  
        p {
          text-align: right;
          width: 90px;
  
          @include medium-device {
            font-size: 15px;
            width: 90px;
          }
  
          @include small-device {
            font-size: 12px;
            width: 45px;
          }
        }
  
        img {
          width: 64px;
          height: 64px;
          border-radius: 64px;
  
          @include medium-device {
            width: 48px;
            height: 48px;
            border-radius: 48px;
          }
  
          @include small-device {
            width: 32px;
            height: 32px;
            border-radius: 32px;
          }
        }
      }
  
      .rating {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
  
        @include small-device {
          margin-top: 0;
        }
  
        .fa-star {
          font-size: 24px;
          margin-left: 10px;
  
          @include medium-device {
            font-size: 18px;
            margin-left: 5px;
          }
  
          @include small-device {
            font-size: 15px;
            margin-left: 0;
            margin-right: 5px;
          }
        }
  
        .star-inactive {
          color: $secondary-font-color;
        }
      }
    }
  }