.main_error {
    @include positionCenter;
    flex-direction: column;
  
    h1 {
      font-weight: 700;
      font-size: 288px;
      margin: 120px 0 140px;
    }
  
    .text_error {
      font-size: 36px;
      text-align: center;
      margin-bottom: 140px;
  
    }
  
    .link_error {
      color: $main-font-color;
      text-decoration: underline;
      font-size: 18px;
      margin-bottom: 140px;
    }
  }