.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  
    @include small-device {
      margin-top: 10px;
    }
  
    .tag {
      @include positionCenter;
      background-color: $main-font-color;
      color: white;
      border-radius: 10px;
      text-align: center;
      font-size: 14px;
      padding: 4px 30px;
  
      @include medium-device {
        font-size: 12px;
        border-radius: 5px;
        padding: 4px 20px;
      }
  
      @include small-device {
        font-size: 10px;
        border-radius: 5px;
        padding: 4px 15px;
      }
    }
  }